<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Compile My Style</title>
    
{% include 'header.html' %}
  </head>
  
  <body>
{% include 'navbar.html' %}
    
    <div class="container">
      <h1>{[ user.first_name ]} {[ user.last_name ]}</h1>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="foo" alt="Your bod goes here">
          </div>
          <div class="col-md-7">
            <h2>About</h2>
            <textarea class="form-control" rows="3">Damn it would be nice if the stuff I typed in here could be saved</textarea>
          </div>
        </div>
      </div>
      
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-6">
            <h2>Preferences</h2>
            <textarea class="form-control" rows="3">Damn it would be nice if the stuff I typed in here could be saved</textarea>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
    
{% include 'footer.html' %}
  </body>
</html>
