<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Compile My Style</title>
    
{% include 'header.html' %}
  </head>
  
  <body>
{% include 'navbar.html' %}
    
    <div class="container">
      <div class="page-header">
        <h1>My Profile</h1>
      </div>
      <div class="col-md-8">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-5">
              <img class="featurette-image img-responsive" data-src="foo" alt="Your bod goes here">
            </div>
            <div class="col-md-7">
              <h1>{[ user.first_name ]} {[ user.last_name ]}</h1>
              <a href="{[ user.fb_id ]}">compilemystyle.herokuapp.com/{[ user.fb_id ]}</a>
            </div>
          </div>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-6">
              <h2>Preferences</h2>
              <textarea class="form-control" rows="3">Damn it would be nice if the stuff I typed in here could be saved</textarea>
            </div>
            <div class="col-md-6">
              <h2>Another Box</h2>
              <textarea class="form-control" rows="3">Damn it would be nice if the stuff I typed in here could be saved</textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="user_file_input">Upload Images</label>
            <input id="user_file_input" type="file" class="file" multiple="true">
            <script>
              $("#user_file_input").fileinput({
                maxFileCount: 10,
                uploadAsync: true,
                uploadUrl: "me/upload"
              });
            </script>
            <p class="help-block">Your image will go nowhere until we implement this.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-heading panel-heading-gray">
          <i class="fa fa-fw fa-info-circle"></i>Statistics
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <div class="row">
                <div class="col-sm-4">
                  <span class="text-muted">Followers</span>
                </div>
                <div class="col-sm-8">Number here</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-4">
                  <span class="text-muted">Styles</span>
                </div>
                <div class="col-sm-8">Number here</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-4">
                  <span class="text-muted">Karma</span>
                </div>
                <div class="col-sm-8">Number here</div>
              </div>
            </li>
          </ul>
        </div>
        <form class="form-horizontal">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>About Me</h4>
            </div>
          </div>
          <div class="form-group" style="padding:14px;">
            <textarea class="form-control" rows="3">Damn it would be nice if the stuff I typed in here could be saved</textarea>
          </div>
        </form>
      </div>
    </div><!-- /.container -->
    
{% include 'footer.html' %}
  </body>
</html>
